body {
  margin: 0;
  background: #000; 
}
.gradient{
	background: -moz-linear-gradient(top,rgba(0,0,0,0) 0,#303030 85%);
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,#303030 85%);
    background: -o-linear-gradient(top,rgba(0,0,0,0) 0,#303030 85%);
    background: -ms-linear-gradient(top,rgba(0,0,0,0) 0,#303030 85%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,#303030 85%);
    height: 300px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
	background: url('https://www.unstock.io/explore/clip/30254/group-of-people-organise-brainstorm-in-office-to-share-ideas-with-each-other.-they-sit-at-white-table-all-together-which-is-full-of-sheets-of-paper-with-schemes-on-them.-blonde-woman-who-settles-in-middle-distributes-documents-between-participants-of-di/') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}
.tagline-footer{
	color: #F4F4F4;

}

.vide {
	height:500px;
}

.videoraw{
	
}

.video-area{
	overflow: hidden;
	max-height: 400px;
}


.tagline{
	color: white;
	font-size: 2.8em;
	margin-top: -350px;
}

.question{
	font-size: 2.8em;
	color: white;
	margin-top: -200px;
}


.taglinesm{
	color: white;
	font-size: 1.7em;
	margin-top: -300px;
}

.questionsm{
	font-size: 1.7em;
	color: white;
	margin-top: -150px;
}

/*begin rotative question*/

/*end rotative question*/


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


.section1{
	background-color: #F4F4F4;
	/*background-color: white;*/
	min-height: 800px;
	margin-top: -250px;
	padding-bottom: 50px;
	padding-top : 0px;
}

.section2{
	background-color:rgba(241,112,63, 0.8);
	padding-bottom: 30px;
	padding-top: 30px;
}

.section3{
	background-color: #F4F4F4;
	padding-bottom:30px;
}

.image-benefit{
	box-shadow: 5px 10px 19px 5px rgb(221, 92, 43);
	padding-right: 0px;
}

.shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    top: 0;
    left: 0;
}

.image-benefit-col{
	margin-left:15px;
}

.image-benefit2{

	animation: beatimg .35s infinite alternate;
	margin-left: 15px;
}

@keyframes beatimg{
	to { transform: scale(1.005); }
}

.title-benefit1{
	margin-top: 5%;
	font-size: 1.4em;
	padding-left: 10px;
	padding-bottom:20px;
	color:#F4F4F4;
}

.title-benefit2{
	padding-bottom:20px;
	margin-top: 10%;
	font-size: 1.8em;
 	padding-left: 10px;
	color:#F4F4F4;
}

.title-benefitxs{
	color:#F4F4F4;
	text-align: center;
	font-size: 1.8em;
	margin-bottom: 10px;
/* 	padding-left: 80px;
 */}

#content-benefit ul{
	text-transform: uppercase;
	padding-left: 0px;
	}

#content-benefit li{
	padding-top: 2px;
	padding-bottom: 2px;
	color: #F4F4F4;
	letter-spacing: 1,5px;
	line-height: 1.2em;
	font-size:0.9em;
	text-transform: uppercase;
	margin-left: 0px;
	text-align:justify;
}

#content-benefit2 ul{
	text-transform: uppercase;
	padding-left: 0px;
	}

#content-benefit2 li{
	text-align:justify;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #F4F4F4;
	letter-spacing: 1,5px;
	line-height: 2em;
	text-transform: uppercase;
	margin-left: 0px;
}

.how-it-works-title{
	font-size: 2em;
}


.how-it-works-image-1{
	padding-top: 15px;
	background-color: white;
	border: solid 1px lightgrey;
	border-radius: 3px;
	margin-right: auto;
	margin-left: auto;
	-moz-box-shadow: 0px 1px 5px 0px #cfcfcf;
	-webkit-box-shadow: 0px 1px 5px 0px #cfcfcf;
	-o-box-shadow: 0px 1px 5px 0px #cfcfcf;
	box-shadow: 0px 1px 5px 0px #cfcfcf;
	margin-top: 30px;

}

.how-it-works-image-2{
	padding-top: 15px;
	background-color: ;
	/*border: solid 1px lightgrey;*/
	border-radius: 3px;
	margin-right: auto;
	margin-left: auto;
	/*
	-moz-box-shadow: 0px 1px 5px 0px #cfcfcf;
	-webkit-box-shadow: 0px 1px 5px 0px #cfcfcf;
	-o-box-shadow: 0px 1px 5px 0px #cfcfcf;
	box-shadow: 0px 1px 5px 0px #cfcfcf;*/
	margin-top: 30px;

}

.how-it-works-image-3{
	padding-top: 15px;
	background-color: white;
	border: solid 1px lightgrey;
	border-radius: 3px;
	margin-right: auto;
	margin-left: auto;
	-moz-box-shadow: 0px 1px 5px 0px #cfcfcf;
	-webkit-box-shadow: 0px 1px 5px 0px #cfcfcf;
	-o-box-shadow: 0px 1px 5px 0px #cfcfcf;
	box-shadow: 0px 1px 5px 0px #cfcfcf;
	margin-top: 30px;

}

.how-it-works-subtitle{
	font-size: 1.4em;
	padding-top: 25px;
	text-transform: uppercase;;
	text-align: left;
	padding-left:25px;
}

.how-it-works-content-1{
	font-size: 1em;
	text-align: left;
	color: grey;
	padding-left: 25px;
	padding-top:20px;
	font-weight: lighter;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: 1,5px;
	text-align: justify;
}

.how-it-works-content-2{
	text-align: justify;
	color: grey;
	padding-left: 25px;
	padding-top:20px;
	font-weight: lighter;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: 1,5px;
}

.how-it-works-content-3{
	text-align: justify;
	color: grey;
	padding-left: 25px;
	padding-top:20px;
	font-weight: lighter;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: 1,5px;
}


.separator-inclined-1{
	width: 112px;
    height: 47px;
    border-bottom: 1px solid grey;
    -webkit-transform:
        translateY(-20px)
        translateX(5px)
        rotate(27deg); 
    position: absolute;
    margin-left: 360px;
    margin-top: 170px;

}

.separator-inclined-2{
width: 112px;
    height: 47px;
    border-bottom: 1px solid grey;
    -webkit-transform:
        translateY(20px)
        translateX(5px)
        rotate(-26deg);
    position: absolute;
    margin-right: 360px;
    margin-top: 170px;
}

.testimonial-box{
	margin-top: 0px;
}
.testimonial{
    padding: 30px 0;

}
.testimonial-description{
  	background-color: white;
    color:#6b6a6a;
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 13px;
    padding-top: 13px;
    padding-left: 50px;
    padding-right:50px;
    height: auto;
    width: 100%;
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
	display: block;
}
.testimonial-pic{
    float: left;
    margin-right: 20px;
    padding-left: 10%;
}
.testimonial-pic > img{
    width: 55px;
    height:55px;
    border-radius: 50%;
}
.client-name{
    color: #363738;
    font-size: 17px;
    padding-top: 9px;
    text-transform: capitalize;
}
.client-name > small{
    display: block;
    margin-top: 3px;
    font-size: 12px;
    line-height: 1.1;
}
.owl-theme .owl-controls .owl-page.active span{
    background: rgb(241,112,63);
}
.owl-theme .owl-controls .owl-page span{
    background: #e98b39;
    opacity: 1;
}



/* fin de la home*/

