body{
	font-family: 'Montserrat', sans-serif;
	/*background-color: #F4F4F4;*/
	/*background-color: rgb(76,61,108);*/
	background-color: white;
	
}


.navbar-default .navbar-header .navbar-brand{
	color: black;
	font-weight: bolder;
	font-size: 20px;
	margin-left: 0px;
}

.navbar-default .navbar-collapse .navbar-nav .connexion a{
	color: rgb(241,112,63);
	letter-spacing: 1px;
	font-weight: bolder;
	font-size: 12px;
	margin-right: 14px;
}

.navbar-default .navbar-collapse .navbar-nav .connexion a:hover{
	color: rgb(221,72,15);
	}

.navbar-default .navbar-collapse .navbar-nav .menu-item a{
	color: rgb(143,143,143);
	letter-spacing: 1px;
	font-weight: bolder;
	font-size: 12px;
}
.navbar-default .navbar-collapse .navbar-nav .menu-item a:hover{
color: rgb(99,99,99);
}
.navbar{
	background-color: transparent;
	border-color: transparent;
}

.container-fluid{
	padding-left: 125px;
	padding-right: 125px;
	padding-top: 25px;
}


/* End Navbar*/
